<main class="reply">

  <header class="reply-header animated fadeIn">
    <h1 class="reply-header-title"><%= @survey.name %></h1>
  </header>

  <div class="reply-form-wrapper">

    <%= form_for(@survey, url: { controller: "surveys", action: "create_reply", id: @survey.id }, html: { id: :edit_survey, class: "form form-reply form-validate" }) do |f| %>

      <%= hidden_field_tag :page_number, @page_number %>
      <%= hidden_field_tag :link_hash, @recipient.link_hash %>

      <%= f.fields_for :recipients, @recipient do |recipient| %>
        <% @page.items.each do |item| %>
          <%= recipient.fields_for :answers, Answer.find_or_initialize_by(item: item, recipient: @recipient) do |answer| %>
            <%= answer.hidden_field :item_id, value: item.id %>
            <%= render "surveys/items_types_reply/#{item.get_survey_template_name}", f: answer, item: item.specific %>
          <% end %>
        <% end %>
      <% end %>

      <div class="form-footer">
        <button type="submit" class="btn btn-purple btn-lg"><i class="fa fa-paper-plane m-r-sm"></i>
            <% if @survey.last_page?(@page_number) %>
                Send
            <% else %>
                Next
            <% end %>
        </button>
      </div>

    <% end %>
  </div>

  <div class="reply-footer">
  </div>
</main>
